<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Wczytywanie_zaborze/src/wczytywanie_zaborze/Kalkulator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="wczytywanie_zaborze.Kalkulator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Wczytywanie_zaborze"/>
</launchConfiguration>
